*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(49, 221, 233);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-weight: bold;
    color: rgb(185, 153, 211);
    padding: 15px;
}
.box{
    background: rgb(255, 151, 250);
    opacity: 80%;
    margin: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.box:hover{
    transform: scale(1.2);
    box-shadow: 0 0 20px black;
}
p{
    margin: 3px;
    opacity: 100%;
}

